MAURYA_SERVICE_BASE_URL = https:/$()/staging.invalid
MAURYA_LOG_LEVEL = info
MAURYA_OTA_BASE_URL = https:/$()/xtbang.top/maurya/ota
MAURYA_OTA_PRODUCTION_PUBLIC_KEY =
MAURYA_OTA_PRODUCTION_KEY_ID = production-1
MAURYA_OTA_ALLOWED_HOSTS = xtbang.top
MAURYA_OTA_CLIENT_VERSION = 421
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
